* {
    margin: 0;
    font-family: Roboto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-family: Shrikhand;
    font-size: 26px;
}

h2 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

h3,
p {
    font-family: Roboto;
    padding: 2.5px;
}

a {
    text-decoration: none;
    color: black;
}

/* ***** Header ***** */

/* *** Fleche & Logo *** */

.conteneur_logo_fleche {
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.conteneur_fleche {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.couleur_icone_fleche {
    color: #353535;
}

.conteneur_logo {
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo_ohmyfood {
    height: 30px;
}

/* *** Illustration *** */

.conteneur_image_bannière {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image_palettedugout {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* *** Titre & Coeur *** */

.conteneur_titre_coeur {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 45px 45px 0px 0px;
    background-color: rgb(243, 243, 243);
}

.typo_menu {
    font-family: Shrikhand;
    font-size: 1.5em;
}

.conteneur_titre_lapalettedugout {
    width: 70%;
}

.conteneur_coeur {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart {
    font-size: 1.5em;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.5s linear;
}

.fa-heart:hover {
    cursor: pointer;
    color: transparent;
    font-weight: 899;
    transform: scale(1.2);
}

/* ***** Body ***** */

/* *** Cartes *** */

.conteneur_principal {
    position: relative;
    overflow: hidden;
    margin-top: -35px;
}

.conteneur_menus {
    border-radius: 35px 35px 0px 0px;
}

.categorie_plat {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.titre_menu {
    padding-top: 25px;
    padding-bottom: 5px;
}

.barre {
    width: 35px;
    height: 2px;
    margin-bottom: 10px;
    background-color: aquamarine;
}

.conteneur_carte_menu {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    opacity: 0;
    animation: apparition 0.5s forwards;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: scale(1.2) translateY(25px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.conteneur_carte_menu:nth-child(3) {
    animation-delay: 0.2s;
}

.conteneur_carte_menu:nth-child(4) {
    animation-delay: 0.4s;
}

.conteneur_carte_menu:nth-child(5) {
    animation-delay: 0.6s;
}

.conteneur_carte_menu:nth-child(6) {
    animation-delay: 0.8s;
}

.conteneur_carte_menu:nth-child(7) {
    animation-delay: 1s;
}

.conteneur_carte_menu:nth-child(8) {
    animation-delay: 1.2s;
}

.conteneur_carte_menu:nth-child(9) {
    animation-delay: 1.4s;
}

.conteneur_carte_menu:nth-child(10) {
    animation-delay: 1.6s;
}

.conteneur_carte_menu:nth-child(11) {
    animation-delay: 1.8s;
}

.conteneur_carte_menu:nth-child(12) {
    animation-delay: 2s;
}

.conteneur_carte_menu:nth-child(13) {
    animation-delay: 2.2s;
}

.conteneur_carte_menu:nth-child(14) {
    animation-delay: 2.4s;
}

.conteneur_menus {
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

.carte_menu {
    width: 90%;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    display: flex;
}

.informations_menu {
    padding: 15px;
    max-width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: black;
    overflow: hidden;
}

.intitule_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nom_du_plat {
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.accompagnements {
    color: black;
    font-weight: 200;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prix_menu {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
}

.conteneur_animation {
    text-overflow: ellipsis;
    background: #99e2d0;
    cursor: pointer;
    height: auto;
    width: 0;
    opacity: 0;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.icone_validation {
    fill: white;
    width: 24px;
    font-size: 3rem;
    transform: rotate(-180deg);
    transition-duration: .5s;
}

.carte_menu:hover .icone_validation {
    transform: rotate(-360deg);
}

.carte_menu:hover .conteneur_animation {
    opacity: 100%;
    width: 5rem;
}

/* *** Bouton commander *** */

.conteneur_commander {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: rgb(245, 245, 245);
}

.bouton_commander {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 30px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
    color: white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    cursor: pointer;
    transition: 0.2s;
}

.bouton_commander:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.bouton_commander:active {
    transform: scale(0.98);
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.23);
}

/* ***** Footer ***** */

.conteneur_bas_de_page {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #353535;
}

.reglages_logo {
    height: 20px;
    padding-top: 10px;
    filter: brightness(20);
}

.liens_bas_de_page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.fa_reglages {
    justify-content: center;
    width: 20px;
}

.couleur_liens {
    color: white;
}

/* ***** Medias Queries ***** */

@media (min-width: 375px) {
}

@media (min-width: 768px) {

    .conteneur_logo_fleche {
        height: 75px;
    }

    .conteneur_principal {
        position: relative;
        overflow: hidden;
    }

    .conteneur_menus {
        padding-left: 5%;
        padding-right: 5%;
    }

    .conteneur_menus,
    .conteneur_commander {
        margin-left: 100px;
        margin-right: 100px;
    }

    .conteneur_bas_de_page {
        height: 57px;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .couleur_logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .liens_bas_de_page {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {

    .conteneur_logo_fleche {
        height: 85px;
    }

    .conteneur_principal {
        position: relative;
        overflow: hidden;
    }

    .conteneur_menus {
        padding-left: 10%;
        padding-right: 10%;
    }

    .conteneur_menus,
    .conteneur_commander {
        margin-left: 150px;
        margin-right: 150px;
    }

    .conteneur_titre_lapalettedugout {
        width: auto;
    }

    .conteneur_coeur {
        width: auto;
        margin-left: 25px;
    }

    .conteneur_bas_de_page {
        height: 85.5px;
        padding-bottom: 30px;
        justify-content: flex-start;
    }

    .reglages_logo {
        padding-right: 30px;
        padding-left: 70px;
    }

    .separation_liens {
        padding-left: 30px;
    }
}

@media (min-width: 1440px) {

    .conteneur_logo_fleche {
        height: 90px;
    }

    .image_lapalettedugout {
        background-position: center;
        background-repeat: no-repeat;
    }

    .conteneur_principal {
        position: relative;
        overflow: hidden;
    }

    .conteneur_menus {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .conteneur_menus,
    .conteneur_commander {
        margin-left: 200px;
        margin-right: 200px;
    }

    .conteneur_titre_lapalettedugout {
        width: auto;
    }

    .conteneur_coeur {
        width: auto;
        margin-left: 25px;
    }
}

@media (min-width: 1440px) {
    body {
        max-width: 1440px;
        margin: auto;
    }
}